
.page {
  max-width: 1600px;
  min-width: 1100px;
  margin:  auto;
 font-family: "inter", "arial", sans-serif;
 font-size : 16px;
 line-height: 20px;

}

@import url("..blocks/page.css");


.header{
background-color: #fff;
background-image: url(../images/background_header.svg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: colum;
position:relative;
box-sizing: border-box;
min-height: 720px;
}

.header_description{

  font-family: "serif";
  font-style: normal;
  font-weight:normal ;
  font-size:20px;
  line-height: 30px;
  max-width: 683px;
}


.header_image{

  width:640px;
  height: 568px;
  display:flex;
  flex-direction: column;
  position: relative;
}


.header_footer {
  display :flex;
  margin-top:auto;
  bottom:40px;
  font-family: "Inter"
  font-style: normal;
  font-weight: 500;
  font-size:16px;
  line-height:20px;
  color: #838383;
  justify-content:space-between;
  align-items: flex-end;


}

.header_link{

  color:#2f80ed;
  text-decoration: none;
}

.header_paragraphfirst
{
  font-family: "Inter";
  font-style:normal;
  font-weight:500;
}

.footer__copyright {
  text-align: left;
  color: #fff;
  margin: 0;
  margin-top: 100px;
}
